<br>
<br>
<br>
<br>
<br>

<div class="adwords-image">
<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home3a.jpg" class="Img" />
</div>

<div id="cssmenu">
<ul>
   <li><a href="http://www.crubiks.com/webdevelopment">WEB DEVELOPMENT</a></li>
   <li><a href="http://www.crubiks.com/mobileapps">MOBILE APPLICATION</a></li>
   <li><a href="http://www.crubiks.com/seo">SEARCH ENGINE OPTIMIZATION</a></li>
   <li class="active"><a href="http://www.crubiks.com/analytics">ANALYTICS</a></li>
   <li><a href="http://www.crubiks.com/cloudsolutions">CLOUD SOLUTIONS</a></li>
   <li><a href="http://www.crubiks.com/adwords">ADWORDS</a></li>
   <li><a href="http://www.crubiks.com/digitalsolutions">DIGITAL WORKSPACE SOLUTION</a></li>
</ul>
</div>

<div class="dropdownbtn">
	<div class="dropdownline">
	<div class="dropdown">
	<button onclick="dropFunction()" class="dropbtn">Services  <i class="fa fa-bars"></i></button>
	  <div id="myDropdown" class="dropdown-content">
				<a href="http://www.crubiks.com/webdevelopment">WEB DEVELOPMENT</a>
				<a href="http://www.crubiks.com/mobileapps">MOBILE APPLICATION</a>
				<a href="http://www.crubiks.com/seo">SEARCH ENGINE OPTIMIZATION</a>
				<button class="dropactive">ANALYTICS</button>
				<a href="http://www.crubiks.com/cloudsolutions">CLOUD SOLUTIONS</a>
				<a href="http://www.crubiks.com/adwords">ADWORDS</a>
				<a href="http://www.crubiks.com/digitalsolutions">DIGITAL WORKSPACE SOLUTION</a>
	  </div>
	</div>
	</div>
</div>
	
<script>

function dropFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<br>
<br>


<section id="pagestyling">
	<div class="row">
			<div class="col-md-7" >
				<div class="txt">
				<h5>GET MORE VALUE FROM YOUR DATA</h5>
				  
				<h4>DIGITAL ANALYTICS</h4>
				  
				<p>Our goal is to provide transparent insight and help you drive those important decisions for your business.</p>
				
				<p>Drive a continual improvement of the online experience that your customers and potential customers have which 
				translates to your desired outcomes using qualitative and quantitative data from your business and your competitor.</p>
				  
				<p>Enhance your marketing skills by exploring the possibilities of digital analytics!</p>
				
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="img">
					<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/Content-Images/analytics-logo.svg" class="analyticimages"/>
				</div>
			</div>
	</div>
</section>

<!--==========================
  Custom craft digital solutions
============================-->
<section id="custom-craft-top">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="custom-title">
          <h1>THE PROCESS</h1>
        </div>
        <div class="border"></div>
      </div>
    </div>
  </div>
</section>

<section id="custom-craft-buttom">
  <div class="container">
    <div class="row">
      <div class="custom-section">
        <div class="col-md-3 col-sm-height col-top">
          <div class="custom-menu">
            <ul role="tablist">
                <li class="active">
                  <a href="#menu1" data-toggle="tab">Discovery</a>
                </li>
                <li>
                  <a href="#menu2" data-toggle="tab">Design</a>
                </li>
                <li>
                  <a href="#menu3" data-toggle="tab">Development</a>
                </li>
                <li>
                  <a href="#menu4" data-toggle="tab">Prototype</a>
                </li>
				<li>
                  <a href="#menu5" data-toggle="tab">Release</a>
                </li>
            </ul>    
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div class="row">
                <div class="row-same-height">
                  <p>We are the perfect web solution tailored to you. This means we need to understand your
						company, your clients, and your industry. In the discovery phase, our team will meet with you
						to learn about your business objectives, timeline, and budget. This phase lets us become a part
						of your team and builds the foundation to your successful online presence.</p>
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade"  >
              <div class="row">
                <div class="row-same-height">
                  <p>Drawing from our conversations in the discovery phase, we begin to design the layout and style
						of your website. We experiment with different colours, typography, and features to find your
						unique branding in the online community. We aim to enhance the online journey for your
						clients while keeping it simple and easy for them to navigate. With our approach, we will find
						the perfect and engaging design for you.</p>   
                </div>
              </div>
            </div>
            <div id="menu3" class="tab-pane fade" >
              <div class="row">
                <div class="row-same-height">
                  <p>This is where the fun starts. The development stage transforms the design that you love into a
						fully functioning website. We create that colour-changing button and transitioning home page
						that you've always wanted. Our team will make sure that your website is smooth, completely
						optimized, and ready-to-go. So, sit back and relax - let our team take care of it for you.</p>   
                </div>
              </div>
            </div>
            <div id="menu4" class="tab-pane fade" >
              <div class="row">
                <div class="row-same-height">
                  <p>The mobile application is almost done. You will be able to review all the fresh look and feel of your 
						application: responsive design and seamless user experience.</p>
						<br>
						<p>And of course, we will never satisfied with "good enough".</p>
						<br>
						<p>We will do our final touch up to make sure that the designed application is at its best suited you. 
						Our team will work closely with you to make final adjustments and incorporate your feedback to make 
						sure that this is your dream mobile application.</p>  
                </div>
              </div>
            </div>
			<div id="menu5" class="tab-pane fade" >
              <div class="row">
                <div class="row-same-height">
                  <p>Throughout the design and development stages, we continuously test and debug your website for optimal functionality. 
						This formal testing stage is our last checkpoint before launching your mobile application.</p>
						<br>
						<p>And, that's it!</p>
						<br>
						<p>After a sweet journey, we launch your mobile application with you as a team and head out for celebrations!</p>   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>