<br>
<br>
<br>
<br>
<br>

<div class="adwords-image">
<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/crubiks1revisi/home7a.png" class="Img" />
</div>

<div id="cssmenu">
<ul>
   <li><a href="http://www.crubiks.com/webdevelopment">WEB DEVELOPMENT</a></li>
   <li><a href="http://www.crubiks.com/mobileapps">MOBILE APPLICATION</a></li>
   <li class="active"><a href="http://www.crubiks.com/seo">SEARCH ENGINE OPTIMIZATION</a></li>
   <li><a href="http://www.crubiks.com/analytics">ANALYTICS</a></li>
   <li><a href="http://www.crubiks.com/cloudsolutions">CLOUD SOLUTIONS</a></li>
   <li><a href="http://www.crubiks.com/adwords">ADWORDS</a></li>
   <li><a href="http://www.crubiks.com/digitalsolutions">DIGITAL WORKSPACE SOLUTION</a></li>
</ul>
</div>

<div class="dropdownbtn">
	<div class="dropdownline">
	<div class="dropdown">
	<button onclick="dropFunction()" class="dropbtn">Services  <i class="fa fa-bars"></i></button>
	  <div id="myDropdown" class="dropdown-content">
				<a href="http://www.crubiks.com/webdevelopment">WEB DEVELOPMENT</a>
				<a href="http://www.crubiks.com/mobileapps">MOBILE APPLICATION</a>
				<button class="dropactive">SEARCH ENGINE OPTIMIZATION</button>
				<a href="http://www.crubiks.com/analytics">ANALYTICS</a>
				<a href="http://www.crubiks.com/cloudsolutions">CLOUD SOLUTIONS</a>
				<a href="http://www.crubiks.com/adwords">ADWORDS</a>
				<a href="http://www.crubiks.com/digitalsolutions">DIGITAL WORKSPACE SOLUTION</a>
	  </div>
	</div>
	</div>
</div>
	
<script>

function dropFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<br>
<br>


<section id="pagestyling">
	<div class="row">
			<div class="col-md-7" >
				<div class="txt">
				<h5>BOOST YOUR ONLINE PRESENCE</h5>
				  
				<h4>SEARCH ENGINE OPTIMIZATION</h4>
				  
				<p>We can get you on the Front Page of Google to increase exposure for you business.
				 We provide a complete solution on optimizing your online presence. For thos who want to 
				 increase their website traffic by putting your website in search engines like Google, Bing, and Yahoo.
				  We are here to make it happen.</p>
				  
				<p>Whether optimizing an existing website or performing SEO during a site re-development or site migration, 
				stricly adheres to SEO's best practices and search quality guidelines.</p>
				
				</div>
			</div>
			
			<div class="col-md-5">
				<div class="img">
					<img src="https://s3-ap-southeast-1.amazonaws.com/drupalcrubiksassets/crubiks1revisi/Content-Images/seo-logo2.svg" class="seoimages"/>
				</div>
			</div>
	</div>	
</section>

<!--==========================
  Custom craft digital solutions
============================-->
<section id="custom-craft-top">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="custom-title">
          <h1>HOW DO WE DO IT?</h1>
        </div>
        <div class="border"></div>
      </div>
    </div>
  </div>
</section>

<section id="custom-craft-buttom">
  <div class="container">
    <div class="row">
      <div class="custom-section">
        <div class="col-md-3 col-sm-height col-top">
          <div class="custom-menu">
            <ul role="tablist">
                <li class="active">
                  <a href="#menu1" data-toggle="tab">Discovery</a>
                </li>
                <li>
                  <a href="#menu2" data-toggle="tab">Strategy</a>
                </li>
                <li>
                  <a href="#menu3" data-toggle="tab">Execution</a>
                </li>
            </ul>    
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <div class="row">
                <div class="row-same-height">
                  <p>There's no such thing as 'one-size-fits-all' in SEO. To do it right, and to get the results you're after, 
						we need to have an in-depth understanding of your business and goals. Only then can we truly recognize 
						what opportunities you can maximize; all while allowing us to make informed decisions about what to do 
						and when to do it. </p>
						<br>
						<p>The discovery stage includes the following activities:</p>
                  <ul>
                    <li>
                      <p>Situation analysis</p>
                    </li>
                    <li>
                      <p>Phrase research</p>
                    </li>
                    <li>
                      <p>Competitive analysis</p>
                    </li>
                    <li>
                      <p>Identify linkable assets</p>
                    </li>
                    <li>
                      <p>Relationship assessment</p>
                    </li>
                    <li>
                      <p>On-site link analysis</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade"  >
              <div class="row">
                <div class="row-same-height">
                  <p>In the strategy stage we create a blueprint to ensure everything will be executed effectively and efficiently. 
				  Our strategy is a 3-month schedule that clearly communicates our plans for your campaign. It covers all goals, planned 
				  activities, priorities, deliverables and timeframes:</p>
                  <ul>
                    <li>
                      <p>Information Architecture (IA)</p>
                    </li>
                    <li>
                      <p>Content strategy</p>
                    </li>
                    <li>
                      <p>Google Webmaster Tools</p>
                    </li>
                    <li>
                      <p>Identify linkable assets</p>
                    </li>
                    <li>
                      <p>Internal external linking</p>
                    </li>
                    <li>
                      <p>URL to phrase matching</p>
                    </li>
                    <li>
                      <p>Canonical setup</p>
                    </li>
                    <li>
                      <p>Internationalization (if required)</p>
                    </li>
                    <li>
                      <p>Project timeline</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
            <div id="menu3" class="tab-pane fade" >
              <div class="row">
                <div class="row-same-height">
                  <p>Even the best laid plans are only as good as their execution. 
						  Every Crubiks SEO package includes:
						  </p>
                  <ul>
                    <li>
                      <p>Reporting tracking</p>
                    </li>
                    <li>
                      <p>Competitor tracking</p>
                    </li>
                    <li>
                      <p>SEO-friendly marketing policies</p>
                    </li>
                    <li>
                      <p>Link building campaign</p>
                    </li>
                  </ul>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>
